#THIS IS AN EXAMPLE ENV FILE. RENAME IT TO .env AND FILL IN THE VALUES.

#!!! DO NOT COMMIT YOUR .env FILE TO VERSION CONTROL.!!!
#!!! THIS IS AN EXAMPLE ENV FILE. THIS FILE WILL BE MADE PUBLIC. !!!
#!!!  DO NOT PUT ANY SENSITIVE INFORMATION IN THIS FILE. !!!

#!!! DO NOT ENTER ACTUAL VALUES WHEN EDITING THIS EXAMPLE FILE. !!!
GOOGLE_CLIENT_ID=your_client_id_!!EDITOR_OF_EXAMPLE_FILE_SHOULD_NOT_INSERT_REAL_CLIENT_ID_HERE!!
GOOGLE_CLIENT_SECRET=your_client_secret_!!EDITOR_OF_EXAMPLE_FILE_SHOULD_NOT_INSERT_REAL_CLIENT_ID_HERE!!
SESSION_SECRET=your_session_secret_!!EDITOR_OF_EXAMPLE_FILE_SHOULD_NOT_INSERT_REAL_CLIENT_ID_HERE!!
# これは環境変数ファイルのサンプルです。ファイル名を .env に変更し、値を設定してください。

# !!! .env ファイルをバージョン管理にコミットしないでください。 !!!
# !!! これは環境変数ファイルのサンプルです。このファイルは公開されます。 !!!
# !!! 機密情報をこのファイルに記述しないでください。 !!!

#!!! この例ファイルの編集者は実際の値を入れないでください。!!!